[user]
	name       = Tina Wuest
	email      = tina@wuest.me
	signingkey = 0x38ffc0c0
[core]
	editor = vim
	excludesFile = ~/.gitignore
[push]
	default = simple
[pull]
	rebase = merges
[status]
	submoduleSummary = true
[color]
	ui = true
[diff]
	submodule = log
[commit]
	gpgsign = true
	verbose = true
[init]
	defaultBranch = main
